backports.functools-lru-cache==1.5
beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.7.19
botocore==1.10.19
breadability==0.1.20
bs4==0.0.1
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cheroot==6.2.4
CherryPy==15.0.0
click==6.7
decorator==4.3.0
docopt==0.6.2
docutils==0.14
Flask==1.0.2
gensim==3.4.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
lxml==4.2.1
MarkupSafe==1.0
more-itertools==4.1.0
networkx==2.1
nltk==3.3
numpy==1.14.3
pandas==0.22.0
pep8==1.7.1
portend==2.2
PuLP==1.6.8
pymongo==3.6.1
pymystem3==0.1.9
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.5.7
stop-words==2015.2.23.1
summpy==0.2.1
sumy==0.7.0
tempora==1.11
urllib3==1.22
Werkzeug==0.14.1
